<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Play Game</title>
    <link href="../utility/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../playGameUI/playGame.css" rel="stylesheet">
    <script type="text/javascript" src="../utility/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="../utility/bootstrap/js/bootstrap.js"></script>
    <link href="../utility/FlipClock/flipclock.css" rel="stylesheet">
    <script type="text/javascript" src="../utility/FlipClock/flipclock.js"></script>
    <script type="text/javascript" src="../playGameUI/playGameConfig.js"></script>


</head>

<body>

    <div class="container-fluid mainPage">
        <!-- Barra Superiore -->
        <div class="row col-xs-12">
            <div class="pageTitle"> Battle Phase </div>
        </div>
        <!-- Colonna laterale per la flotta-->
            <div class="row col-xs-4">
                <div class="myFleetTitle"> That's your Fleet </div>
                    <!-- Sezione nome - immagine - integrità-->
                    <div class="col-xs-4 shipGeneralInfo"></div>
                    <!-- Sezione nome arma-->
                    <div class="col-xs-7 shipWeapons">
                    <div class="weaponItem"></div>
                    <div class="weaponItem"></div>
                    </div>
                    <!-- Sezione munizioni armi-->
                    <div class="col-xs-1 ammo">
                    <div class="weaponAmmo"></div>
                    <div class="weaponAmmo"></div>
                    </div>
            </div>

        <!-- Area di gioco-->
        <div class="col-xs-8 gameArea">
            <!-- Area dedicata all'utente-->
            <div class="col-xs-5 userArea">
                <!-- Informazioni dell'utente-->
                <div class="userInfo">User Info</div>
                <!-- Campo di gioco dell'utente-->
                <div class="userField">
                    <div class="row gridRow">
                    <div class="col-xs-1 cell"></div>
                    <div class="col-xs-1 cell"></div>
                    <div class="col-xs-1 cell"></div>
                    <div class="col-xs-1 cell"></div>
                    <div class="col-xs-1 cell"></div>
                    <div class="col-xs-1 cell"></div>
                    <div class="col-xs-1 cell"></div>
                    <div class="col-xs-1 cell lastColumn"></div>
                    </div>
                    <div class="row gridRow">
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell lastColumn"></div>
                    </div>
                    <div class="row gridRow">
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell lastColumn"></div>
                    </div>
                    <div class="row gridRow">
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell lastColumn"></div>
                    </div>
                    <div class="row gridRow">
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell lastColumn"></div>
                    </div>
                    <div class="row gridRow">
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell lastColumn"></div>
                    </div>
                    <div class="row gridRow">
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell lastColumn"></div>
                    </div>
                    <div class="row gridRow lastRow">
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell"></div>
                        <div class="col-xs-1 cell lastColumn"></div>
                    </div>
                </div>
            </div>
            <!-- Area dedicata all'avversario-->
            <div class="col-xs-7 enemyArea">
                <!--Campo di gioco dell'avversario-->
                <div class="enemyField">
                    <div class="row gridRow">
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy lastColumn"></div>
                    </div>
                    <div class="row gridRow">
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy lastColumn"></div>
                    </div>
                    <div class="row gridRow">
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy lastColumn"></div>
                    </div>
                    <div class="row gridRow">
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy lastColumn"></div>
                    </div>
                    <div class="row gridRow">
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy lastColumn"></div>
                    </div>
                    <div class="row gridRow">
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy lastColumn"></div>
                    </div>
                    <div class="row gridRow">
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy lastColumn"></div>
                    </div>
                    <div class="row gridRow lastRow">
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy"></div>
                        <div class="col-xs-1 cellEnemy lastColumn"></div>
                    </div>
                </div>
                <!-- Informazioni del nemico -->
                <div class="enemyInfo"> Enemy Info</div>
            </div>
            <!-- Area dedicata al timer e ai comandi di resa -->
            <div class="col-xs-12 gameInfo">
                <!--Bottone di resa -->
                <div class="col-xs-3 ">
                    <button type="button" class="btn btn-danger btn-md surrender pull-left ">Surrender</button>
                </div>
                <!--Testo che indica se è il turno dell'utente o dell'avversario -->
                <div class="col-xs-4 turn"> E' il tuo turno</div>
                <!--Timer -->
                <div class="col-xs-5 ">
                    <div class="timer">
                    </div>
                </div>
            </div>
            </div>

        </div>

    </div>

</body>

</html>