.arma{
    border-right: 1px solid black;
    text-align: center;
    height: 100%;
    bottom:0px;
}

.armi{
    border: 1px solid black;
    position: absolute !important;
    bottom:0px;
    height:30%;
    width:100%;
    text-align:left;
}
.alt{
    height:100%;
}

.box_armi{
    height:100%;
}

.BoxList{
    width:100%;
    height: 50%;
}

.cella1{
    width: 100%;
    height: 100%;

}

.colpi{
    text-align: center;
    height: 100%;
    bottom:0px;

}

.ImgNave1{
    width:25%;
    height:45%;
}


.fleetList{
    height: 80%;
}

.nave{
    border: 1px solid black;
    height: 200px;
    text-align: center;
    min-height: 150px;
}

.riga{
    margin-right: -40px;
    margin-left: -30px;
}

.tempi_ricarica{
    border-right: 1px solid black;
    text-align: center;
    height: 100%;
    bottom:0px;

}
